body{
	background-image: url('../img/bkh-fundo.png');
}

#geral{
	width: 90%;
	margin: 0px auto;
	padding: 0px;
	position: relative;
}

.index-box{
	width: 50%;
	border: 2px #fff solid;
	border-radius: 40px;
	margin-top: 200px;
	height: 250px;
	background: #1B5E20;
	padding: 20px;
	box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.7);
}

.bloco-texto{
	color: #fff;
}


#footer{
	clear: both;
	bottom: 0;
	position: absolute;
	background: #000;
	width: 100%;
}

#footer address{
	color: #fff;
	padding: 10px;
	padding-top: 30px;
}